{% extends 'base.html' %}

{% block content %}

    <form action="{% url 'rulingscanner:search-ruling' %}" method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Szukaj">

    </form>

    <p></p>

    {% if result|length > 0 %}

        <ul>

            {% for ruling in result %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <strong class="text-muted">{{ ruling.title }}</strong>
                </div>
                <p class="article-content">{{ ruling.get_shortcut }}</p>

                <a href="{% url 'rulingscanner:hint-detail' ruling.pk %}" class=btn btn-primary color=solid #e3e3e3>Przeczytaj całą interpretację</a>

            </div>
        </article>

            {% endfor %}

        </ul>



    {% endif %}

{% endblock content%}



